@media(max-width: 320px){
    .container{
        max-width: 320px;
        margin: 0 auto;
        padding: 0 15px;
    }
    /*header*/
    .header__nav--list{
        column-gap: 24px;
    }
    /*hero*/
    .hero__content{
        padding-left: 13px;
    }

    .hero__title{
        width: 71vw;
    }

    .hero__desc{
        width: 60vw;
    }
    /*gallery*/
    .gallery__section{
        height: 170vh;
    }
    /*event*/
    .event__item--title{
        width: 69vw;
    }

    .event__item--title span{
        width: 51vw;
    }
}