@media(max-width:770px){
    .container{
        max-width: 768px;
        margin: 0 auto;
        padding: 0 50px;
    }

    picture{
        display: block;
    }
    /*header*/
    .header__nav--list{
        column-gap: 48px;
    }
    /*hero*/
    .hero__section{
      padding: 87px 0 86px 0;
    }

    .hero__title{
      font-size: 72px;
      line-height: 68px;
    }
    .hero__desc{
      font-size: 18px;
      line-height: 30px;
        width: 70vw;
        margin-bottom: 132px;
    }

    .hero__btn{
      font-size: 18px;
      padding: 23px 35px;
    }
    /*about*/
    .about__desc{
        width: 100%;
    }
    /*gallery*/
    .gallery__section{
        padding: 80px 0;
    }
    .gallery__checkbox--block{
        width: 22%;
    }
    /*event*/
    .event__item--img{
        display: none;
    }

    .event__item--title span{
        width: 19vw;
    }
    /*form*/
    .form__input{
        width: 42vw;
    }
}
